*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: var(--main-5-color);
    box-sizing: border-box;
}
/*Paleta de colores*/
:root{
    --main-1-color: #FC7300;
    --main-2-color: #1F8A70;
    --main-3-color: #00425A;
    --main-4-color: #181823;
    --main-5-color: #EFF5F5;
    --main-6-color: #000000;
    
}
/*Encabezado*/
.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}
.encabezado {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),
    url("../img/encabezado/informatica.jpg");
    background-size: cover;

}
.barraNavegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-3-color);
    padding: 10px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}
.menu li {
    margin: 0 10px;
}
.menu li a {
    color: #fff;
    text-decoration: none;
}
.menu li a:hover {
    color: var(--main-1-color);
}
.h-txt span{
    letter-spacing: 5px;
    font-size: 34px;
}
.h-txt .btn{
    background-color: var(--main-3-color);
}
.h-txt .btn a{
    text-decoration: none;
    color: white;
        
}
    @media screen and (max-width: 768px){
        .navbar {
            flex-direction: column;
        } 
        .logo {
            width: 19%;
            text-align: center;
        }
        .logo span{
            color: white;
        }
        .menu {
            margin-top: 15px;
            align-items: center;
        }
        .menu li {
            margin: 5px 0;
        }
        .h-txt {
            margin-top: 15vh;
            
            text-align: center;
            padding: 20px;
            color: white;
        }
        .h-txt span{
            letter-spacing: 5px;
            font-size: 34px;
            
        }
        .h-txt h1 {
            font-size: 30px;
            margin-top: 15px;
        }
        
        .btn {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 15vh;
        }
    }
@media screen and (max-width: 320px) {
    
    .barraNavegacion{
        background-color: var(--main-3-color);
        text-align: center;
        width: 100%;
    }
    .barraNavegacion .menu{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
    }
    .barraNavegacion .menu li {
        float: left;
    }
    .barraNavegacion .menu li a{
        display: block;
        color: var(--main-5-color);
        text-align: center;
        padding: 10px 30px;
        text-decoration: none;
    }
    .barraNavegacion .logo{
        
        align-items:center;
        width: 50%;
    }
    .barraNavegacion .logo span{
        color: #EFF5F5;
        text-align: center;
    }
    
    .h-txt{
        color: white;
        display: contents;
        transform: translate(-50%,-50%);
        text-align: center;
        
    }
    .h-txt span{
        display: block;
        letter-spacing: 5px;
        font-size:30px;
        margin-top: 50px;
    }
    .h-txt .btn{
        
        text-align: center;
        margin-top: 50px;
        margin-bottom: 90px;
        width: 100%;
    }
    
}
/*Main*/
@media screen and (max-width: 320px) {
    .quienesSomos{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .quienesSomos .box1 h1{
        font-size: 50px;
        width: 100%;
        margin-bottom: 30px;
        
    }
    .quienesSomos .box1 img{
        width: 100%;
        margin-bottom: 30px;
    }
    .quienesSomos .box2 p{
        margin: 20px;
    }
}
/*Seccion Porque elegirnos*/
@media screen and (max-width: 320px){
    .porqueElegirnos{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .porqueElegirnos .txt-elg h2{
        font-size: 50px;
        width: 100%;
        margin-bottom: 30px;
    }
    .porqueElegirnos .txt-elg p{
        margin: 20px;
    }
    .porqueElegirnos .imagen img{
        width: 100%;
    }
}
/*Seccion Plan de estudio*/
/*.planDeEstudio{
    
    text-align: center;
    width: 100%;
    height: auto;
}
.cardsMaterias{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    margin-bottom: 5%;
}
.materias{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 18rem;
}*/
@media screen and (max-width: 320px) {
    .planDeEstudio{
        background-color: var(--main-3-color);
        width: 100%;
        height: auto;
        margin-top: 10%;
        
    }
    .planDeEstudio h2{
        text-align: center;
        display: inline;
        margin-left: 15%;
        justify-content: center;
        width: 50%;
        font-size: 25px;
        color: white;
    }
    .cardsMaterias {
        
        margin-top: 5%;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, .5fr);
        gap: 10px;
        margin-left: 28%;
        font-size: 12px;
        
    }
    .materias {
        color: white;
        border: 2px solid var(--main-6-color);
        background-color: var(--main-2-color);
        width: 23vh;
    }
}

/*Contactanos*/
.irFormulario .boton{
    text-align: center;
    
}
@media (max-width: 320px) {
    .irFormulario{
        background-color: var(--main-1-color);
        width: 100%;
        height: 20vh;
        
    }
    .irFormulario h3{
        text-align: center;
        color: var(--main-6-color);
        margin-bottom: 20px;
    }
    .irFormulario .boton{
        background-color: var(--main-2-color);
        width: 50%;
        height: 30px;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .irFormulario .boton a{
        text-decoration: none;
        color: var(--main-5-color);
    }
    
}


/*Noticias*/
.noticias{
    margin: 0 auto;
    max-width: 800px;
}
article{
    padding: 20px;
    border: 1px solid var(--main-6-color);
    margin-bottom: 20px;
}
.tituloPrincipal{
    margin-top: 0;
}
.articulo img{
    max-width: 100%;
    height: auto;
}
.articulo p {
    margin-bottom: 0;
}
@media screen and (max-width:320px) {
    .articulo{
        padding: 10px;
    }
}

/*Formulario*/
.contacto{
    background-color: var(--main-5-color);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.formulario h4,
.formulario h2{
    color: var(--main-6-color);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bungee', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
  
label {
    margin-bottom: 8px;
    font-weight: bold;
}
  
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 8px;
    border: 1px solid var(--main-4-color);
    border-radius: 4px;
    margin-bottom: 16px;
}
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    border-color: var(--main-4-color);
}
  
button[type="submit"] {
    background-color: var(--main-2-color);
    color: var(--main-5-color);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: #3E8E41;
}
/*pie de pagina*/
.piePagina{
    background-color: var(--main-3-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.redes-sociales, .mapa, .contactos{
    margin-bottom: 20px;
    flex: 1 1 100%;
    max-width: 300px;
}
.redes-sociales h3, .mapa h3, .contactos h3{
    color: white;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.redes-sociales a {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.redes-sociales a img{
    width: 10%;

}
.mapa iframe {
    width: 100%;
    height: 200px;
    border: 0;
}
.contactos p {
    margin-bottom: 5px;
}
@media screen and (max-width: 320px) {
    .redes-sociales, .mapa, .contactos {
        max-width: 100%;
    }

    .mapa iframe {
        height: 150px;
    }
}